<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Under Maintenance</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-800 flex justify-center items-center min-h-screen">
<div class="text-center px-4 py-8 bg-white rounded-lg shadow-md max-w-md">
    <h1 class="text-3xl font-bold mb-4">We're Under Maintenance!</h1>
    <p class="text-gray-700 text-lg">
        Error: 404<br>
    The webpage you requested cannot be found
    </p>
</div>
</body>
</html>
