<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FIN-EASE</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<nav>

    <span class="logo"><u>FIN-EASE</u></span>
    <ul class="nav-items">
        <li><a href="#">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/loginp">Login</a></li>
    </ul>
</nav>
<header>
    <br><br>
    <h1>FIN-EASE</h1>
    <p>Stock Market API Viewer and Finance Tracking Web-App</p>
    <br><br>
</header>
<main>
    <br><br>
    <section class="hero">
        <span id="fin-tit"><h2 style="color: navy">Finance Made Easy</h2></span>
        <p>Our intuitive platform helps you track your income, and view investment options easily</p>
        <a href="/loginp" class="button-30">Get Started</a>
    </section>
    <br><br>
</main>
<footer>
    <p>&copy; 2024 Finance : FIN-EASE</p>
</footer>
</body>
</html>
